.pulse:hover {
  animation: pulse 2s infinite;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 229, 255, 0.4);
  }
  5% {
    transform: scale(1.01);
  }
  15% {
    transform: scale(1);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(168, 63, 57, 0);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(168, 63, 57, 0);
  }
}
